<header class="site-header">
    <nav class="navbar">
        <a href="/" class="logo">Amazônia Verde</a>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/habitats">Habitats</a></li>
            <li><a href="/experiences">Experiences</a></li>
            <li><a href="/search">Wildlife Search</a></li>
            <li><a href="/activity">Activity</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>