<%- include("../partials/header") %>
<%- include("../partials/nav") %>

<main class="page-content">
    <h1>Wildlife Search</h1>
    <p>Search for Brazilian animals, habitats and experiences.</p>
</main>

<script src="/js/search.js"></script>

<%- include("../partials/footer") %>